
.mapBox {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}



/*.mapBox {*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    width: 400px;*/
/*    height: 100vh;*/
/*}*/