body{
    background-color: #F3EAD2;
    color: #2D3024;
}

#generalPhotoBehavior {
    width: 100%;

}
#generalColBehavior {
    padding-top: 10px;
    padding-bottom: 10px;
}

#headLineONE {
    text-align: center;
    color: #2D3024;
    padding: 5px;
}

#mapPopUp {
    background-color: #F3EAD2;
    text-align: center;
    color: #2D3024;
    margin: 0;
    padding: 1rem;
    font-size: large;
}

#signInUp-column {
    padding: 2vh;
    align-content: center;
}

#profileRegProfile {
    text-align: center;
    color: #2D3024;
}

#profileRegForm {
    background-color: #76999D;
    /*border: light;*/
    padding: 15px;
}

#events-column {
    padding: 2vh;
    background-color: #76999D;
}


#navFootBgColor {
    background-color: #835A4E;
}

#navText{
    color: #CDCDC1;
    font-size: 1.75rem;
}


#navFoot{
    background-color: #835A4E;
    color: #CDCDC1;
    text-align: center;
    font-size: 1rem;

}

#lLLLogoBase {
    padding-right: 2vh;
    height: 8vh;
    width: 100%;

}

#generalPhotoBehavior {
    width: 100%;

}

#pleaseSignIn {
    /*height: 50vh;*/
    width: 100%;

}

#LLLLabel {
    height: 4rem;
    width: 100%;
}

#LLLLabelBrown {
    height: 4rem;
    width: 100%;
}

#signUpIn {
    background-color: #93A5AB;
    text-align: center;
    width: border-box;
}

#eventShortListing {
    background-color: #CDCDC1;
    border-radius: 10px;
    margin: 1vh;
}
#eventUpdateModal {
    background-color: #CDCDC1;
}


#checkInDisplay {
    background-color: #CDCDC1;
    color: #2D3024;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

#checkInDetailBlock {
    background-color: #CAB898;
    color: #2D3024;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;

}

#eventListingDisplay {
    background-color: #CAB898;
    color: #2D3024;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

#userRegistration {
    background-color: #93A5AB;
    color: #2D3024;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

#libraryDisplayBlock {
    background-color: #76999D;
    color: #2D3024;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

#libraryCreateFormGlobal {
    background-color: #93A5AB;
    color: #2D3024;

}

#profileUpdateForm {
    background-color: #93A5AB;
    text-align: center;
    width: border-box;
}

#libraryRegisterCard {
    background-color: #93A5AB;
    text-align: center;
    width: border-box;
    padding-top: 2rem;
    font-size: large;
    border-radius: 0;
}

#personalStack {
    padding-bottom: 30px;
}

#homeSectionBlk1 {
    background-color: #93A5AB;
    padding: 2rem;
    margin-bottom: 30px;
}

#sectionImageBlk {
    width: 100%;
    border-radius: 40px;
}

#homeSectionBlk2 {
    background-color: #CDCDC1;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: x-large;
    align-items: center;
}
#homeSectionBlk3 {
    background-color: #F3EAD2;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
}

#homeSectionBlk4 {
    background-color: #CAB898;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: large;
    align-items: center;
}


#eventSectionBlk2 {
    background-color: #CAB898;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: large;
    align-items: center;
}

#profileSectionBlk1 {
    background-color: #426A73;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: large;
    align-items: center;
}

#profileSectionBlk2 {
    background-color: #CDCDC1;
    padding: 2rem;
    margin-bottom: 30px;
}

#profileSectionBlk3 {
    background-color: #93A5AB;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: large;
    align-items: center;
}

#profileSectionBlk4 {
    background-color: #CAB898;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: large;
    align-items: center;
}

#profileSectionBlk5 {
    background-color: #A9986E;
    padding: 2rem;
    margin-bottom: 30px;
}

#eventSectionBlk3 {
    background-color: #CDCDC1;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: large;
    align-items: center;
}

#eventSectionBlk1 {
    background-color: #76999D;
    padding: 2rem;
    margin-bottom: 30px;
}

#eventSectionBlk4 {
    background-color: #F3EAD2;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: large;
    align-items: center;

}
#eventSectionBlk5 {
    background-color: #50573F;
    padding: 2rem;
    margin-bottom: 30px;
}

#eventSectionBlk6 {
    background-color: #93A5AB;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: large;
    align-items: center;
}

#librarySectionBlk1 {
    background-color: #A9986E;
    padding: 2rem;
    margin-bottom: 30px;
}


#librarySectionBlk4 {
    background-color: #426A73;
    padding: 2rem;
    margin-bottom: 30px;
}
#librarySectionBlk3 {
    background-color: #CDCDC1;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: x-large;
    align-items: center;
}

#librarySectionBlk5 {
    background-color: #F3EAD2;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: x-large;
    align-items: center;
}
#librarySectionBlk2 {
    background-color: #50573F;
    padding: 2rem;
    margin-bottom: 30px;
}


/**** Map PopUp Library Display Section ****/

#libDisSectionBlk1 {
    background-color: #50573F;
    padding: 2rem;
    margin-bottom: 30px;
}

#libDisSectionBlk2 {
    background-color: #F3EAD2;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: x-large;
    align-items: center;
}

#libDisSectionBlk3 {
    background-color: #A9986E;
    padding: 2rem;
    margin-bottom: 30px;
}

#libDisSectionBlk4 {
    background-color: #CAB898;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: x-large;
    align-items: center;
}

#libDisSectionBlk5 {
    background-color: #426A73;
    padding: 2rem;
    margin-bottom: 30px;
}

#librarySectionDisplay {
    padding: 2rem;
    background-color: #CDCDC1;
}
#libraryCardDisplay {
    background-color: #CDCDC1;
    padding: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #2D3024;
    font-size: x-large;
    align-items: center;
   border-radius: 0;
}
